*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;        
}

body {
    background-image: url('POR.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/* IMAGENS A PASSAR */

#carousel-container {
    width: 20%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#image-carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-image {
    flex: 0 0 100%;
    max-width: 100%; 
}

.efeito {
    width: 180px;
    height: 260px;
    margin: 90px 310px; 
    z-index: 998;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* IMAGENS DE FUNDO */

.fundo{
    width: 100%;
    height: 100vh;
    animation: changeBackground 30s infinite;
    background-position: center;
    background-size: cover;
}

@keyframes changeBackground {
    10% {
        background-image: url('DIN.jpg');
    }
    20% {
        background-image: url('ITÁ.jpg');
    }
    30% {
        background-image: url('ESP.jpg');
    }
    40% {
        background-image: url('FRA.jpg');
    }
    50% {
        background-image: url('GRE.jpg');
    }
    60% {
        background-image: url('SER.jpg');
    }
    70% {
        background-image: url('AUS.jpg');
    }
    80% {
        background-image: url('IRE.jpg');
    }
    90% {
        background-image: url('CRO.jpg');
    }
    100% {
        background-image: url('POL.jpg');
    }
  }

/* BARRA ESQUERDA */

.barra-lado{
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.745);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    transition: width 0.5s;
}

/* LOGO DA BARRA ESQUERDA */

.logo2 {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.logo2 img{
    width: 90px;
    height: auto;
}

.logo{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 150%;
    font-size: 10px;
    padding: 1px 30px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    color: black;
}

.logo h1{
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
}

.logo h2 {
    font-size: 10px;
}

.logo   div{
  display: none;
}

.logo3 {
    position: fixed;
    top: 1%;
    right: -3.5%;
    transform: translateX(-45%);
    z-index: 1000;
    
}

.logosite{
    width: 100px;
    margin-right: auto;
    position: relative;
    right: 20px;
}

/* ICONS DA BARRA ESQUERDA */

ul{
    list-style: none;
    padding: 0.5px 15px;
}

ul li{
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul li img{
    width: 35px;
    margin-right: 0px;
}

ul li p{
   white-space: nowrap;
   display: none;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   font-size: 20px;
}

.barra-lado:hover{
    width: 250px;
}

.barra-lado:hover .logo div{
    display: block;
}

.barra-lado:hover .logo{
    width: 10%;
}

.barra-lado:hover ul li p{
    display: block;
    white-space: nowrap;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.barra-lado:hover ul li img{    
    width: 35px;
    margin-right: 30px;
}

.barra-lado:hover ul li{
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}   

.barra-lado:hover .logosite{
    right: 1;
}

/* REDES */

.face {
    position: fixed;
    bottom: 20px;
    right: 13px;
    z-index: 9999;

}

.face img{
    width: 40px;
    height: auto;
    border-radius: 10px;
}

.insta {
    position: fixed;
    bottom: 20px;
    right: 61px;
    z-index: 9999;
}

.insta img{
    width: 40px;
    height: auto;
    border-radius: 10px;
}

.you {
    position: fixed;
    bottom: 20px;
    right: 110px;
    z-index: 9999;
}

.you img{
    width: 40px;
    height: auto;
    border-radius: 10px;
}

/* BARRA DE DESLOCAMENTO */

::-webkit-scrollbar {
    width: 11px;
    background-color: hwb(255, 255, 255, 0.745);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
}

/* QUADRADO ATRÁS DO LOGO ERASMUS */

.white-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 148px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.797);
    border-radius: 10px;
    z-index: -1;
  }